<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="no-referrer">
	<title>Peppa Board</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/codemirror/5.52.0/codemirror.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/tui-editor/1.4.10/tui-editor.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/tui-editor/1.4.10/tui-editor-contents.min.css">
</head>
<body class="container">
	<form id="form-fetch" class="form-row p-3 mb-3 shadow-sm bg-light" action="/" method="POST">
		<div class="col-9">
			<input type="text" name="url" value="{{url}}" class="form-control" placeholder="请填入内容页/文章页URL">
		</div>
		<div class="col">
			<button id="btn-fetch" type="submit" class="btn btn-primary">获取</button>
		</div>
	</form>

	{% if (article) %}
	<div class="row">
		<div class="col-md-9">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">标题</span>
				</div>
				<input type="text" id="input-title" class="form-control" placeholder="title" name="title" value="{{article.title}}">
			</div>
			<div id="editor"></div>
			
		</div>
		<div class="col-md-3">
			<h4 class="h5 my-3">发布设置</h4>
			<div class="form-group mb-3">
				<label>网站</label>
				<select id="input-site" class="form-control">
					{% for site, info in sites %}
					<option>{{site}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group mb-3">
				<label>类目</label>
				<select id="input-cid" class="form-control">
				</select>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="1" id="input-iconv">
				<label class="form-check-label" for="input-iconv">繁体转简体</label>
			</div>
			<div class="mt-2">
				<button id="btn-publish" type="button" class="btn btn-primary">发布</button>
			</div>
			<div class="mt-2" id="res"></div>
		</div>
	</div>
	<script src="https://cdn.staticfile.org/tui-editor/1.4.10/tui-editor-Editor-full.min.js"></script>
	<script>
		const sites = {{sites|dump|safe}}
		const editor = new tui.Editor({
			el: document.querySelector('#editor'),
			initialEditType: 'wysiwyg',
			previewStyle: 'vertical',
			height: '700px',
			initialValue: {{mark|dump|safe}}
		});
		document.getElementById('form-fetch').addEventListener('submit', function(){
			const button = document.getElementById('btn-fetch')
			button.disabled = true
			button.innerText = '获取中…'
			setTimeout(function() {
				button.disabled = false
				button.innerText = '获取'
			}, 10000);
		})
		document.getElementById('btn-publish').addEventListener('click', function(event){
			const button = event.currentTarget
			const data = {
				title: document.getElementById('input-title').value,
				md: editor.getValue(),
				cid: document.getElementById('input-cid').value,
				site: document.getElementById('input-site').value,
				iconv: document.getElementById('input-iconv').checked ? 1 : 0
			}
			fetch('/post', {body: JSON.stringify(data), method:'post'}).then(res=>res.json()).then(res=>{
				console.log(res)
				if (res.data && res.data.url) {
					document.getElementById('res').innerHTML = `<a href="${res.data.url}" target="_blank">${res.data.url}</a>`
				} else {
					document.getElementById('res').innerHTML = `<span style="color:red">${res.msg}</span>`
				}
				button.disabled = false
				button.innerText = '发布'
			})
			button.disabled = true
			button.innerText = '发布中…'
		})
		function assignCategories() {
			console.log('change')
			const _site = document.getElementById('input-site').value
			const site = sites[_site]
			let options = ''
			for(let name in site.categories) {
				options+=`<option value="${site.categories[name]}">${name}</option>`
			}
			document.getElementById('input-cid').innerHTML = options
		}
		assignCategories()
		document.getElementById('input-site').addEventListener('change', assignCategories)
	</script>
	{% endif %}
</body>
</html>